body{
    margin: 0;
}
/*Letras */
.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
.big-shoulders-letra2 {
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150px;
    font-style: normal;
}
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.staatliches-regular {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
/*Fin Letras */
html{
    background-color: #B4BEC9;
}
.bottom {
    background-color: #159A9C;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.bottom a{
    width: 40px;
    border-radius: 50%;
    height: 40px;
    background-color: #161920;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.7s;
}
.bottom a img{
    width: 25px;
    height: 25px;
}
.bottom a:hover{
    transform: scale(1.2);
    box-shadow: 0 0 9px white;
}
.container{
    width: 100%;
    height: 520px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .contacto {
    border-radius: 30px;
    background-color: #161920;
    width: 25%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .contacto form {
    padding: 20px;
    background-color: #262c38;
    border-radius: 15px;
    box-shadow: 0 0 5px #B4BEC9;
    display: grid;
    height: 240px;
    width: 60%;
    grid-template-rows: repeat(4,1fr);
    justify-content: center;
}
.container .contacto form .small {
    height: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 250px;
}
.container .contacto form .big {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 75px;
}
.container .contacto form #enviar input{
    left: 0;
    font-family: "Staatliches", sans-serif;
    font-weight: 40;
    margin-top: 30px;
    margin-left: 25px;
    text-decoration: none;
    background-color: #159A9C;
    color: #262c38;
    border: 2px ridge #B4BEC9;
    border-radius: 3px;
    transition: transform 0.4s, background-color 0.4s;
}
.container .contacto form #enviar input:hover{
    transform: scale(1.1);
    background-color: #B4BEC9;
    color: #262c38;
}
