body{
    margin: 0;
}
/*Letras */
.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
.big-shoulders-letra2 {
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150px;
    font-style: normal;
}
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.staatliches-regular {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
/*Fin Letras */
html{
    background-color: #B4BEC9;
}
.top .portada header {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #B4BEC9;
    justify-content: center;
    margin: 0px;
}

.top nav{
    display: flex;
    align-items: center;
    background-color: #159A9C;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0px;
    justify-content: center;
}
.top nav ul{
    margin: 0;
    height: 60px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    max-height: 60px;
    gap: 40px;
}


.top nav ul li {
    display: flex;
    justify-content: center;
}
.top nav ul li a{
    background-color: #DBDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    border-radius: 5px;
    transition: transform 0.3s;
    text-decoration: none;
    color: #159A9C;
    font-family: "Staatliches", sans-serif;
    font-size: 18px;
    height: 22px;
    white-space: nowrap;
    flex-shrink: 1;
    max-width: fit-content;
}
.top nav ul li a:hover {
    transform: scale(1.1);
    border-bottom: 5px solid #383527;
    border-right: 5px solid #383527;
}

.container {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .exp{
    background-color: #262c38;
    width: 60%;
    height: 450px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 30px;
    gap: 33px;
    border-radius: 20px;
}
.container .exp .hist{
    box-shadow: 0 0 7px #B4BEC9;
    border-radius: 14px;
    background-color: #002333;
    padding: 20px;
    transition: transform 1.3s, box-shadow 1s, border 2s;
}
.container .exp .hist:hover{
    transform: scale(1.2);
    border: 5px solid #262c38;
    box-shadow: 0 0 10px #002333;
    border-radius: 14px;
    background-color: #002333;
}
.container .exp .hist .title{
    display: flex;
    align-items: center;
}
.container .exp .hist .title h2{
    font-family: "Staatliches", sans-serif;
    color: #B4BEC9;
    padding: 0px 15px;
    font-size: 23px;
}
.container .exp .hist .title h4{
    color: #B4BEC9;
    font-size: 14px;
}
.container .exp .hist ul{
    list-style: square;
    color: #B4BEC9;
}
.container .exp .hist ul li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
