body{
    margin: 0;
}
/*Letras */
.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
.big-shoulders-letra2 {
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150px;
    font-style: normal;
}
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.staatliches-regular {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
/*Fin Letras */
html{
    background-color: #B4BEC9;
}
.top .portada header {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #B4BEC9;
    justify-content: center;
    margin: 0px;
}

.top nav{
    display: flex;
    align-items: center;
    background-color: #159A9C;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0px;
    justify-content: center;
}
.top nav ul{
    margin: 0;
    height: 60px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    max-height: 60px;
    gap: 40px;
}


.top nav ul li {
    display: flex;
    justify-content: center;
}
.top nav ul li a{
    background-color: #DBDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    border-radius: 5px;
    transition: transform 0.3s;
    text-decoration: none;
    color: #159A9C;
    font-family: "Staatliches", sans-serif;
    font-size: 18px;
    height: 22px;
    white-space: nowrap;
    flex-shrink: 1;
    max-width: fit-content;
}
.top nav ul li a:hover {
    transform: scale(1.1);
    border-bottom: 5px solid #383527;
    border-right: 5px solid #383527;
}
.sobremi {
    display: flex;
    background-color: #B4BEC9;
    width: 100%;
    height: 650px; 
    justify-content: center;
    align-items: center;
}
.sobremi .container {
    padding: 15px;
    background-color: #002333;
    border-radius: 20px;
    border: 10px ridge #159A9C;
    transition: transform 3s;
    height: 50%;
    width: 50%;
    display: grid;
    grid-template-rows: repeat(2,1r);
}
.sobremi .container:hover{
    transform: scale(1.2);
}
.sobremi .container .title {
    height: 100px;
    margin: 0px;
    padding-left: 10px;
}
.sobremi .container .title h3 {
    color: #FFFFFF;
    font-size: 45px;
    font-family: "Big Shoulders", sans-serif;
}
.sobremi .container .text {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #EEEEEE;
}
.sobremi .container .text p {
    margin-top: 0px;
    margin-bottom: 40px;
    padding-top: 2px;
    font-family: "Staatliches", sans-serif
}
