body{
    margin: 0;
}
/*Letras */
.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
.big-shoulders-letra2 {
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150px;
    font-style: normal;
}
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.staatliches-regular {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
/*Fin Letras */
html{
    background-color: #B9B28A;
}

.title{
    font-family: "Boldonse", system-ui;
    width: 98%;
    padding-left: 100px;
    padding-top: 240px;
    padding-bottom: 0px;
    font-size: 45px;
    margin: 0px;
    color: #504B38;
    text-transform: uppercase;
}
.portada .subtitle {
    font-family: "Anton", sans-serif;
    padding-left: 100px;
    margin: 1px;
    color: #504B38;
}
.portada .txtportada{
    font-family: "Anton", sans-serif;
    padding-left: 100px;
    margin: 0px;
    font-size: 14px;
    color: #504B38;
}
.portada .foto{
    width: 801px;
    display: flex;
    justify-content: right;
    padding-top: 62px;
    
}
.portada .foto img {
    background-color: #EBE5C2;
    width: 300px;
    height: 500px;
    padding-right: 30%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px 0px 0px   8px;
    border: black 10px
}

  
.top .portada header {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #B9B28A;
    justify-content: center;
    margin: 0px;
}

ul{
    margin: 0;
}
.top nav{
    display: flex;
    align-items: center;
    background-color: #504B38;
    width: 100%;
    top: 0;
    left: 0;
    margin: auto;
    justify-content: center;
}
.top nav ul{
    height: 60px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    
    max-height: 60px;
}


.top nav ul li {
    margin-top: 10px;
    margin-right: 40px;
    
}
.top nav ul li a{
    background-color: #DBDBDB;
    display: flex;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    transition: transform 0.3s;
    text-decoration: none;
    color: #504B38;
    font-family: "Staatliches", sans-serif;
    font-size: 18px;
    
}
.top nav ul li a:hover {
    transform: scale(1.1);
    border-bottom: 5px solid #383527;
    border-right: 5px solid #383527;
}