

.title{
    font-family: "Boldonse", system-ui;
    width: 98%;
    padding-left: 100px;
    padding-top: 240px;
    padding-bottom: 0px;
    font-size: 50px;
    margin: 0px;
    color: #002333;
    text-transform: uppercase;
}
.portada .subtitle {
    font-family: "Anton", sans-serif;
    padding-left: 100px;
    margin: 1px;
    color: #002333;
}
.portada .txtportada{
    font-family: "Anton", sans-serif;
    padding-left: 100px;
    margin: 0px;
    font-size: 14px;
    color: #002333;
}
.portada .foto{
    width: 801px;
    display: flex;
    justify-content: right;
    padding-top: 62px;
    
}
.portada .foto img {
    background-color: #DEEFE7;
    width: 300px;
    height: 500px;
    padding-right: 30%;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px 0px 0px   8px;
    border: 3px solid #504B38; 
}

  
.top .portada header {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #B4BEC9;
    justify-content: center;
    margin: 0px;
}