body{
    margin: 0;
}
/*Letras */
.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
.big-shoulders-letra2 {
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150px;
    font-style: normal;
}
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.staatliches-regular {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
/*Fin Letras */
html{
    background-color: #B4BEC9;
}
.container {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .exp{
    background-color: #262c38;
    width: 60%;
    height: 450px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 30px;
    gap: 33px;
    border-radius: 20px;
}
.container .exp .hist{
    box-shadow: 0 0 7px #B4BEC9;
    border-radius: 14px;
    background-color: #002333;
    padding: 20px;
    transition: transform 1.3s, box-shadow 1s, border 2s;
}
.container .exp .hist:hover{
    transform: scale(1.2);
    border: 5px solid #262c38;
    box-shadow: 0 0 10px #002333;
    border-radius: 14px;
    background-color: #002333;
}
.container .exp .hist .title{
    display: flex;
    align-items: center;
}
.container .exp .hist .title h2{
    font-family: "Staatliches", sans-serif;
    color: #B4BEC9;
    padding: 0px 15px;
    font-size: 23px;
}
.container .exp .hist .title h4{
    color: #B4BEC9;
    font-size: 14px;
}
.container .exp .hist ul{
    list-style: square;
    color: #B4BEC9;
}
.container .exp .hist ul li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
