body{
    margin: 0;
}
/*Letras */
.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
.big-shoulders-letra2 {
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150px;
    font-style: normal;
}
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.staatliches-regular {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
/*Fin Letras */
html{
    background-color: #B4BEC9;
}
.grancontenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grancontenedor .container{
    background-color: #262c38;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    padding: 20px;
    margin: 0px;
    margin-top: 50px;
    width: 900px;
    height: 550px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.container .perks{
    background-color: #002333;
    border: 4px ridge #B4BEC9;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    
}
.container .perks .name{
    display: flex;
    justify-content: left;
    align-items: center;

}
.container .perks .name h3{
    font-family: "Staatliches", sans-serif;
    font-weight: 100;
    padding: 0px 15px;
    color: #B4BEC9;
}
.container .perks .barrita{
    margin-left: 15px;
    display: flex;
    position: relative;
}
.container .perks .barrita .vacia{
    background-color: #383527;
    margin: 14px 0px;
    height: 25px;
    width: 70%;
}
.container .perks .barrita .full{
    display: flex;
    margin: 14px 0px;
    justify-content: right;
    position: absolute;
    height: 25px;
    background-color: #159A9C;
}
.container .perks .barrita .percent{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 7px 0px;
    
    padding: 0px;
    background-color: #159A9C;
    box-shadow: 0 0 20px #383527;
    transition: transform 0.5s;
}
.container .perks .barrita .percent h3{
    font-family: "Staatliches", sans-serif;
    transition: color 1s, transform 0.3s;
    color: #159A9C;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
}
.container .perks:hover .barrita .percent h3{
    color: #383527;
    transform: scale(1.1);
}
.container .perks:hover .barrita .percent{
    transform: scale(1.1);
}