

.title{
    font-family: "Boldonse", system-ui;
    width: 98%;
    padding-left: 100px;
    padding-top: 40%;
    padding-bottom: 0px;
    font-size: 50px;
    margin: 0px;
    color: #002333;
    text-transform: uppercase;
}
.portada .infoport{
    position: relative;
    left: 0;
    width: 40%;
    flex-wrap: wrap;
    min-width: 15%;
}
.portada .subtitle {
    font-family: "Anton", sans-serif;
    padding-left: 100px;
    margin: 1px;
    color: #002333;
}
.portada .txtportada{
    font-family: "Anton", sans-serif;
    padding-left: 100px;
    margin: 0px;
    font-size: 14px;
    color: #002333;
}
.portada .foto{
    right: 0;
    width: 60%;
    display: flex;
    justify-content: right;
    padding: 62px 0px;
    
}
.portada .foto img {
    background-color: #DEEFE7;
    width: 300px;
    height: 500px;
    padding-right: 30%;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px 0px 0px   8px;
    border: 3px solid #504B38; 
}

  
.top .portada header {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0px;
    justify-content: center;    
    background-color: #B4BEC9;
    margin: 0px;
    flex-wrap: wrap;
}

@media screen and (max-width:1000px) {
    .top .portada header{
        flex-direction: column;
    }
    .top .portada .infoport {
        width: 70%;
        margin-bottom: 15%;
        display: flex;
        padding-left: 30%;
        flex-direction: column;
    }
    .top .portada .infoport .title {
        padding: 0px;
        padding-top: 90px;
        width: 75%;
    }
    .top .portada .infoport .subtitle{
        padding: 0px;
        width: 20%;
    }
    .top .portada .infoport .txtportada {
        padding: 0px;
        width: 50%;
    }
    .top .portada header .foto {
        right: 0;
        width: 100%;
        margin-bottom: 10%  ;
    }
}